.preview-gallery

  &__list
    display: flex
    flex-direction: row
    flex-wrap: wrap
    +m(1199)
      margin: 0
      justify-content: flex-start

  &__el
    margin-right: 15px
    margin-bottom: 15px
    &:last-child
      margin-right: 0

  &__link
    display: inline-block

  &__img
    width: 100px
    height: 134px
