.table
  width: 100%
  background-color: #fff
  border: 1px solid #e8ebed
  font-size: 14px

  th
    background-color: #edeff0
    text-transform: uppercase
    padding-left: 15px
    +h600

    &:first-child
      text-align: left

    +m(768)
      &:nth-child(2),
      &:nth-child(3)
        display: none

  tr
    height: 40px
    line-height: 40px

    &:nth-child(even)
      background-color: #f5f6f7

  td
    text-align: center
    padding: 0

    &:first-child
      width: 70%
      padding-left: 13px
      text-align: left

    &:nth-child(2),
    &:nth-child(3)
      width: 14%

    a
      &:hover
        color: #4875e8

    +m(768)
      &:nth-child(2),
      &:nth-child(3)
        display: none