<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__left">
        <p class="copyright">© 2018 TrainersMode. All rights reserved.</p>
      </div><!-- end footer__left -->
      <div class="footer__right">
        <nav class="nav is-footer">
          <ul class="nav__list">
            <li class="nav__el">
              <a href="#" class="nav__link">Home</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Trainers</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Terms</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Privacy</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Contact us</a>
            </li>
          </ul>
        </nav>
      </div><!-- end footer__right -->
    </div><!-- end footer__wrap -->
  </div><!-- end container -->
</footer><!-- end footer -->