<header class="header">

  <div class="header__wrap container">

    <div class="header__left">

      <span class="hamburger js-menu-toggle">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </span>

      <div class="logo">
        <a href="main_page.html" class="logo__link" title="trainersmode">
          <img src="img/logo.png" alt="trainersmode"/>
        </a>
      </div><!-- END logo -->

      <div class="search is-small">

        <i class="ico is-search-white i-right"></i>
        <input type="search"
               class="input is-small"
               placeholder="Search for TrainersMode"/>

      </div><!-- END search -->

    </div><!-- END header__left -->

    <div class="header__right">

      <ul class="nav">
        <li class="nav__el">
          <a href="#" class="nav__link">Trainers</a>
        </li>
      </ul><!-- END nav -->

    </div><!-- END header__right -->

  </div><!-- END header__wrap -->

</header><!-- END header -->
