<div class="mobile-menu">
  <div class="mobile-menu__top">
    <form class="search is-mobile">
      <div class="search__field">
        <div class="search">
          <input type="search" class="input is-mobile" placeholder="Enter keyword or title"/>
        </div><!-- END search -->
      </div>
      <div class="search__action">
        <button class="btn is-big is-search is-mobile" type="submit">Search</button>
      </div>
    </form>
  </div>
  <div class="mobile-menu__bottom">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">
          Home
        </a>
      </li>
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">
          Trainers
        </a>
      </li>
    </ul>
  </div>
</div><!-- END mobile-menu -->